{% extends 'buyer/base.html' %}
{% load static %}
{% block title %}
New Collection
{% endblock%}
{% block styles %}
<style>
    .no-decoration {
      text-decoration: none !important; /* Important to override Bootstrap's default styles */
    }
</style>
{% endblock %}
{% block body %}
<div class="container py-5">
    <p class="display-5 my-3"><i class="bi bi-bag-check-fill"></i> &nbsp; Latest Collection</p>
    <div class="row d-flex justify-content-center align-items-stretch">
        {% for item in items %}
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-0 my-3">
            <div class="card h-100 position-relative"> 
                <img src="{{item.image.url}}" class="card-img-top" alt="Laptop" />
                <div class="card-body d-flex flex-column justify-content-between"> <!-- Added flex-column and justify-content-between classes -->
                    <div>
                        <div class="d-flex justify-content-center align-items-center">
                            <a href="#!" class="badge bg-warning text-dark text-wrap no-decoration fs-6">{{item.category_id.name}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>    
{% endblock %}



